@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;

    color: white;
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: 'Edu NSW ACT Foundation', cursive;
}


.header-box {

    display: inline-block;
}


#headerstyle {
    background-color: #ffb3ba;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0;
}




main {
    text-align: center
}

article {
    border-radius: 4px;
    border-style: dashed;
    border-color: white;

    border: 8px solid gray;

    display: inline-block;

    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 10px;

    margin: 10px 12px 10px 12px;
    margin: 10px 12px;

    text-align: left;
    width: 25%;
}

article>h2 {
    color: gray;
    padding: 4px 8px;
}

ul {
    list-style-type: none;
}

article:first-of-type {
    border-color: white;
}

article:first-of-type h2 {
    color: white;
}

#todo {
    border-color: #fff2a6;
}

#todo h2 {
    background-color: #fff2a6;
}

#inprogress ul li label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#done ul li label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


#inprogress {
    border-color: #ff6961;
}

#inprogress h2 {
    color: red;
}

#done {
    border-color: green;
}

#done h2 {
    color: green;
}

ul li {
    padding: 6px 8px;
    color: black;

}

#todo li:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

#inprogress li:nth-child(odd) {
    background-color: rgba(255, 0, 0, 0.5);
}

#done li:nth-child(odd) {
    background-color: rgba(0, 255, 0, 0.5);
}

/* RESPONSIVE CODE */
article {
    width: 100%;
    margin: 10px 0px;
}

main {
    margin: 0 12px;
}

@media(min-width:960px) {
    article {
        width: 25%;
        margin: 10px 12px;
    }

    main {
        margin: 0;
    }
}