@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Edu NSW ACT Foundation', cursive;
}

main {
    text-align: center
}

article {
    border-radius: 4px;
    border-style: dashed;
    border-color: white;
    border: 8px solid gray;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 10px 12px 10px 12px;
    margin: 10px 12px;
    text-align: left;
    width: 25%;
}

ul {
    list-style-type: none;
    margin-bottom: 20px;
}

ul li {
    padding: 6px 8px;
    color: black;

}


/* Header */


#headerstyle {
    background-color: #d4f0fc;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 60px;
    top: 0;
}

#headerstyle h1 {
    font-family: 'Edu NSW ACT Foundation', cursive;
    text-align: center;
    margin: 30px;
    color:rgb(0, 28, 167);
}


/* Content to do */


.content-todo {
    display: table;
}

.title-todo {
    display: table-cell;
    float: left;
    margin-left: 40px;
    margin-top: 40px;

}

.picture-todo {
    display: table-cell;
    float: left;
    margin-left: 130px;

}

#todo {
    border-color: #d6d6ff;
}

#todo h2 {
    color: #6b3fa0;
}

#todo ul li label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo ul li label input {
    visibility: hidden;
    
}

#todo ul li label p {
    position: absolute;
    margin-left: 30px;
}

#todo ul li label span {
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Content In Progress */


.content-inprogress {
    display: table;
}

.title-inprogress {
    display: table-cell;
    float: left;
    margin-left: 40px;
    margin-top: 35px;

}

.picture-inprogress {
    display: table-cell;
    float: left;
    margin-left: 90px;

}

#inprogress ul li label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#inprogress {
    border-color: #ff6961;
}

#inprogress h2 {
    color: red;
}

#inprogress ul li label p {
    position: absolute;
    margin-left: 30px;
}

#inprogress ul li label span {
    position: relative;
    width: 20px;
    height: 20px;
}

#inprogress ul li label input:checked~span::after {
    content: "✔️";
    position: absolute;
    margin-right: 10px;
}

#inprogress ul li label input:checked~p {
    text-decoration: line-through;
    color: #c1c1c1;

}


/* Content done */


.content-done {
    display: table;
}

.title-done {
    display: table-cell;
    float: left;
    margin-left: 40px;
    margin-top: 40px;

}

.picture-done {
    display: table-cell;
    float: left;
    margin-left: 140px;

}

#done ul li label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

#done {
    border-color: #c6e5b1;
}

#done h2 {
    color: green;
}

#done ul li label p {
    position: absolute;
    margin-left: 30px;
}

#done ul li label span {
    position: relative;
    width: 20px;
    height: 20px;
}

#done ul li label input:checked~span::after {
    content: "✔️";
    position: absolute;
    margin-right: 10px;
}

#done ul li label input:checked~p {
    text-decoration: line-through;
    color: #c1c1c1;
}


/* Content Footer */


.stick_footer {
    background-color: white;
    height: 180px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.content-footer {
    display: table;
}

.footer-box1 {
    display: table-cell;
    float: left;
    margin-left: 200px;
    margin-top: 10px;

}

.footer-box2 {
    display: table-cell;
    float: left;
    margin-left: 180px;
    margin-top: 10px;
}

.footer-box3 {
    display: table-cell;
    float: left;
    margin-left: 180px;
    margin-top: 10px;
}

.footer-box4 {
    display: table-cell;
    float: left;
    margin-left: 180px;
    margin-top: 10px;
}


/* RESPONSIVE CODE */
article {
    width: 100%;
    margin: 10px 0px;
}

main {
    margin: 0 12px;
}

@media(min-width:960px) {
    article {
        width: 25%;
        margin: 10px 12px;
    }

    main {
        margin: 0;
    }
}